<app-nav-bar (clear)="clearScreen()"></app-nav-bar>

<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <app-price-entry id="total" field-description="Bill Total" [(price)]="billTotal"
                    (errorChange)="billTotalError = $event">
                </app-price-entry>
            </div>
            <div class="col-md-6 col-sm-12">
                <app-price-entry id="tip-from" field-description="Amount to Tip From" [(price)]="tipFrom"
                    (errorChange)="tipFromError = $event">
                </app-price-entry>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <app-dropdown id="percentage" label="Percent to Tip" option-postfix="%" [(options)]="tipPercentages"
                    [(selected)]="selectedPercentage"></app-dropdown>
            </div>
            <div class="col-md-6 col-sm-12">
                <app-dropdown id="split" label="Ways to Split" [(options)]="waysToSplit" [(selected)]="selectedSplit">
                </app-dropdown>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-5" *ngIf="!billTotalError && !tipFromError">
                <app-summary [tip-owed]="tipOwed()" [total-owed]="totalOwed()" [owed-per-person]="owedPerPerson()"
                    [owed-by-others]="owedByOthers()" [bill-is-split]="isBillSplit()"></app-summary>
            </div>
        </div>
    </div>
</main>